@font-face {
  font-family: 'Archia';
  src: url('~/assets/fonts/archia-regular-webfont.eot');
  src: url('~/assets/fonts/archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archia';
  src: url('~/assets/fonts/archia-medium-webfont.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Archia';
  src: url('~/assets/fonts/archia-semibold-webfont.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Archia';
  src: url('~/assets/fonts/archia-bold-webfont.otf');
  font-weight: 700;
  font-style: normal;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
  padding: 0;
  @apply tracking-wide bg-gray-50;
}

body {
  font-family: Archia, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

main {
  @apply p-8;
}

.glassmorphism {
  @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 bg-white;
}

/* Tabbar */
.tabbar {
  @apply px-4 py-2 fixed bottom-0 flex justify-between items-center w-full z-10 text-base;
  @apply shadow-xl rounded-t-2xl rounded-b-none;
}

.tab {
  @apply px-4 py-2 pb-8 flex-col flex items-center;
}

.tab {
  @apply text-gray-800;
}

.tab.router-link-active span {
  @apply inline-block;
}

.tab .icon {
  @apply rounded-lg p-2;
}

.tab .text {
  @apply mt-1 text-xs;
}

.tab.router-link-active .icon {
  @apply bg-cyan-800 text-white;
}

.tab.router-link-active .text {
  @apply text-cyan-800;
}


/* Form Auth */
.form-auth input[type=text],
.form-auth input[type=password] {
  @apply w-full py-4 bg-gray-100 rounded-xl;
}

.form-auth input:focus {
  @apply border-none;
}