* {
  @apply transition-all;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  height: calc(100vh - 70px);
  @apply overflow-hidden z-10 relative bg-white rounded-b-3xl p-6;
}

.tabbar {
  @apply bg-cyan-900 p-4 pt-20 absolute bottom-0 flex justify-around items-center w-screen text-sm z-0;
}


.tab {
  @apply px-4 py-2 space-x-2 flex items-center;
}

.tab span {
  @apply hidden;
}

.tab span, .tab svg {
  @apply text-gray-400 text-xs;
}

.tab.router-link-active span {
  @apply inline-block;
}

.tab.router-link-active {
  @apply bg-cyan-800 rounded-full;
}

.tab.router-link-active span, .tab.router-link-active svg {
  @apply text-white;
}
