html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.tabbar {
  @apply bg-cyan-900 p-4 pt-20 absolute bottom-0 flex justify-around items-center w-screen text-sm;
}

.tab {
  @apply bg-cyan-800 px-4 py-2 rounded-full space-x-2 flex items-center;
}

.tab span {
  @apply text-white;
}

.tab.active span {
  @apply inline-block
}